{% extends "base.html" %}

{% block body %}
<div>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-danger alert-dismissable" id="flash-message-box" role="alert"
					style="width: 90%;margin:auto">
					<b>{{message}}</b>
					<button type="button" data-dismiss="alert" class="close" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}

	<form method="POST" class="text-center border border-light p-5" action="/login">
		<p class="h4 mb-4">Login</p>
		<input type="text" name="user_name" pattern="[a-z A-Z0-9]{3,}" class="form-control" placeholder="enter user name"
			required /><br /><br />
		<input type="password" name="user_password" pattern=".{3,}" class="form-control" placeholder="enter password"
			required /> <br /><br />
		<input type="submit" class="btn btn-info btn-block my-4" name="userLogin_submit_btn" value="login" />
	</form>
</div>
{% endblock %}