{% extends "base.html" %}

{% block body %}
<div>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-danger alert-dismissable" id="flash-message-box" role="alert"
					style="width: 90%;margin:auto">
					<b>{{message}}</b>
					<button type="button" data-dismiss="alert" class="close" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}

	<h2>User Login</h2>
	<form method="POST" action="/login">
		Enter User name: <input type="text" name="user_name" pattern="[a-z A-Z0-9]{3,}" placeholder="enter user name"
			required /><br /><br />
		Enter password : <input type="password" name="user_password" pattern=".{3,}" placeholder="enter password"
			required /> <br /><br />
		<input type="submit" name="userLogin_submit_btn" value="login" />
	</form>
</div>
{% endblock %}