{% extends "base.html" %}

{% block body %}


<div class="container">
	<br>
	<div class="page-header">
		<h1>Patients Details</h1>      
	</div>
	<br>
	<div class="container">
	<table class="table table-striped" border="1">
		<tr>
			<td><b>SSN</b></td>
			<td><b>Patient ID</b></td>
			<td><b>Patient Name</b></td>
			<td><b>Home Address</b></td>
			<td><b>Age</b></td>
			<td><b>Admitted on</b></td>
			<td><b>Room Type</b></td>
			<td><b>Status</b></td>
		</tr>
	{% for patient in patient_details %}
		<tr>
		{% for i in patient %}
			<td>{{ i }} </td>
		{% endfor %}
		</tr>
	{% endfor %}
	</table>



	{% if test_details!=[]%}
		<h1>Diagnostics Details of patient</h1>
		<table border="1">
			<tr>
				<td><b>Test_ID</b></td>
				<td><b>Test_name</b></td>
				<td><b>Charges</b></td>
			</tr>
		{% for each_test in test_details %}
			<tr>
			{% for i in each_test %}
				<td>{{ i }} </td>
			{% endfor %}
			</tr>

		{% endfor %}
		</table>
	{% endif %}

	{% if test_details==[]%}
		<h1>Diagnostics Details of patient</h1>
		<h3>No Diagnostics tests taken till date </h3>
	{% endif %}
		



	{% if function =="search"%}
		<br>

		<a href="{{ url_for('indexPage') }}" class="button">Add Medicine</a><br>
		<br>

		<a href="{{ url_for('search_test', key=key) }}" class="button">Add Diagnostics</a>

	{% endif %}

{% endblock %}