{% extends "base.html" %}

{% block body %}
{% include "include/navbar.html" %}
{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
					<div class="alert alert-danger alert-dismissable" id="flash-message-box" role="alert"
						style="width: 90%;margin:auto">
						<b>{{message}}</b>
						<button type="button" data-dismiss="alert" class="close" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<br>
	<div class="page-header">
		<h1>Search for a Patient</h1>      
	</div>
	<br>
	<form method="POST" action="/search_for_patient">
		<div class="form-group">
			<label>Enter PatientID : </label>
			<input type="number" class="form-control" name="patientID" pattern="[0-9]{9}" min="100000000" placeholder="enter PatientID" required/>
		</div>
		<input type="submit" class="btn btn-primary" value="search" />
	</form>
{% endblock %}
