{% extends "base.html" %}

{% block body %}
{% include "include/navbar.html" %}
{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				{% if message == 'No such patient exists!' %}
					<div class="alert alert-danger alert-dismissable" id="flash-message-box-error" role="alert"
						style="width: 90%;margin:auto">
						<b>{{message}}</b>
						<button type="button" data-dismiss="alert" class="close" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				{% else %}
					<div class="alert alert-success alert-dismissable" id="flash-message-box" role="alert"
						style="width: 90%;margin:auto">
						<b>{{message}}</b>
						<button type="button" data-dismiss="alert" class="close" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endwith %}
	<br>
	<div class="page-header">
		<h1>Update Patient Record</h1>      
	</div>
	<br>
<form method="GET">
	<div class="form-group">
		<label>Enter patient id: </label>
		<input type="text" class="form-control" pattern="[0-9]{9}" name="id" placeholder="enter patient id" {% if data_set %} value="{{patient_details[1]}}" {% endif %} required /> 
	</div>
	<input type="submit" class="btn btn-primary" name="up_patient_id_sunbmit_btn" value="GET Details" />


</form>
<hr />
{% if not data_set %}
<form method="POST" action="">
	<div class="form-group">
		<label>Enter SSN : </label>
		<input type="text" class="form-control" name="p_ssn" pattern="[0-9]{9}" placeholder="enter SSN" required />
	</div>
	<div class="form-group">
		<label>Enter Patient Name : </label>
		<input type="text" class="form-control" name="p_name" pattern="[A-Z a-z]{3,}" placeholder="enter patient name"
		required />
	</div>
	<div class="form-group">
		<label>Enter Patient Age : </label>
		<input type="number" class="form-control" name="p_age" placeholder="enter patient age" min="1" max="130"
		style="width: 120px;" required />	</div>
	<div class="form-group">
		<label>Enter Home address : </label>
		<textarea name="p_addr" class="form-control" placeholder="enter address" rows="5" cols="60" required></textarea>
	</div>

	<div class="form-group">
		<label>Select Room Type:</label>
		<select name="p_rtype" class="form-control" required>
			<option value="" selected>Select</option>
			<option value="General">General</option>
			<option value="Semi">Semi</option>
			<option value="Single">Single</option>
		</select>	
	</div>
	<input type="submit" class="btn btn-primary" value="add patient record" />
</form>
{% else %}
<form method="POST" action="/updateDetails">
	<input type="hidden" value="{{patient_details[1]}}" name="p_id" />
	<div class="form-group">
		<label>Enter SSN : </label>
		<input type="text" class="form-control" name="p_ssn" pattern="[0-9]{9}" value="{{patient_details[0]}}" placeholder="enter SSN" required />
	</div>
	<div class="form-group">
		<label>Enter Patient Name : </label>
		<input type="text" class="form-control" name="p_name" value="{{patient_details[2]}}" pattern="[A-Z a-z]{3,}" placeholder="enter patient name"
		required />
	</div>
	<div class="form-group">
		<label>Enter Patient Age : </label>
		<input type="number" class="form-control"  name="p_age" value="{{patient_details[4]}}" placeholder="enter patient age" min="1" max="130"
		style="width: 120px;" required />
	</div>
	<div class="form-group">
		<label>Enter Home address : </label>
		<textarea name="p_addr" class="form-control"  placeholder="enter address" rows="5" cols="60" required>{{patient_details[3]}}</textarea>
	</div>
	<div class="form-group">
		<label>	Select Room Type: </label>
		<select name="p_rtype" class="form-control" required>
			<option value="">Select</option>
			{% if patient_details[6] == 'General' %}
				<option value="General" selected>General</option>
			{% else %}
				<option value="General">General</option>
			{% endif %}
			{% if patient_details[6] == 'Semi' %}
				<option value="Semi" selected>Semi</option>
			{% else %}
				<option value="Semi">Semi</option>
			{% endif %}
			{% if patient_details[6] == 'Single' %}
				<option value="Single" selected>Single</option>
			{% else %}
				<option value="Single">Single</option>
			{% endif %}
		</select>
	</div>
	<input type="submit" class="btn btn-secondary" value="add patient record" />
</form>

{% endif %}
{% endblock %}
{% block scripts %}
	<script src="{{ url_for('static',filename='closeFlashMessage.js') }}"></script>
	<script>
		window.addEventListener("load",closeFlashMessage);
	</script>
{% endblock %}